.parent-of-model{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .model{
    position: fixed;
    background-color: whitesmoke;
    width: 400px;
    height: 500px;
    border-radius: 5px;
    /* display: none; */
    scale: 1;
    transition: 0.5s;
    /* transform: translateY(-100vh) rotate(360deg); */
  }
  
  /* .forgot.show{
    display: flex;
    scale: 1;
  } */
  .model input{
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.068);
  }
  
  .model .fa-xmark{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: black;
  }
  .model .fa-xmark:hover{
    transition: 0.3s;
    color:red;
  }